---
layout: default
---

<div class="person">
	<div class="person__avatar">
		<img class="s-img-switch" src="{{ site.url }}{{ site.baseurl }}{{ site.profile }}" alt="prof_img">
	</div>

	<div class="person__info">
		<h2 class="person__name">{{ site.author }}</h2>
		<div class="person__position">
			<span><mark class="colorify2">{{ site.subheading }}</mark></span>
		</div>
		<div class="person__socials">
			<ul class="person__socials-list">

				{% if site.facebook_username %}
				<li>
					<a href="https://www.facebook.com/{{ site.facebook_username }}">
						<i class="fab fa-facebook-f fa-lg"></i>
					</a>
				</li>
				{% endif %}

				{% if site.linkedin_username %}
				<li>
					<a href="https://www.linkedin.com/{{ site.linkedin_username }}">
						<i class="fab fa-linkedin-in fa-lg"></i>
					</a>
				</li>
				{% endif %}

				{% if site.github_username %}
				<li>
					<a href="https://github.com/{{ site.github_username }}">
						<i class="fab fa-github fa-lg"></i>
					</a>
				</li>
				{% endif %}
				
				{% if site.email %}
				<li>
					<a target="_blank" href="mailto:{{ site.email | encode_email }}">
						<i class="far fa-envelope fa-lg"></i>
					</a>
				</li>
				{% endif %}

				<!-- {% if site.instagram_username %}
				<li>
					<a target="_blank" href="https://www.instagram.com/{{ site.instagram_username }}">
						<i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
				</li>
				{% endif %} -->

			</ul>
		</div>
	</div>

</div>
</div>
</div>

<div class="col-lg-6 p-0 site-content__inner-right">
	<div class="site-content__page">
		<div class="site-content__page-wrap">

			<header class="entry-header">
				<h1 class="entry-title">about me</h1>
			</header>

			<div class="niko-sc niko-sc--about">
				<div class="niko-sc__about-list">
					<div class="niko-sc__about-item">
						{{ site.age }} years </div>
					<div class="niko-sc__about-item">
						{{ site.location }} </div>
					<div class="niko-sc__about-item">
						{{ site.occupation }} </div>
				</div>
				<div class="niko-sc__about-description">
					{{ site.bio }}
				</div>
			</div>

			<div class="niko-sc niko-sc--services">
				<div class="niko-sc__title-wrap">
					<h3 class="niko-sc__title">technical skills</h3>
				</div>
				<div class="niko-sc__services-list">

					{% for skill_list in site.tech_skills %}
					<div class="niko-sc__services-item">
						{{ skill_list[0]}}
						<h5 class="niko-sc__services-name">
							{{ skill_list[1] }}                        </h5>
						<div class="niko-sc__services_description">
							{{ skill_list[2] }}
						</div>
					</div>
					{% endfor %}
					
				</div>
			</div>

			
			<div class="niko-sc niko-sc--skills">
	<div class="niko-sc__title-wrap">
		<i class="fas fa-tachometer-alt fa-2x colorify" style="margin-right: 10px;"></i>
		<h3 class="niko-sc__title">  Skills</h3>
	</div>

	<div class="niko-sc__skills-list">

		{% for skill in site.skills %}
		<div class="niko-sc__skills-item" data-value="{{ skill[1] }}">
			<span class="niko-sc__skills-name">
						{{ skill[0] }}                    </span>
			<div class="niko-sc__skills-value">
				<span class="counter" data-from="0" data-speed="750" data-to="{{ skill[1] }}">0</span>%
			</div>
			<div class="niko-sc__skills-line">
				<div class="active-line"></div>
			</div>
		</div>
		{% endfor %}
	   
		
	</div>
</div>

<!-- <div class="niko-sc niko-sc--skills">
	<div class="item col-6 col-lg-3">

		<div class="niko-sc__title-wrap">
			<i class="fas fa-laptop-code fa-2x colorify" style="margin-right: 10px;"></i>
			<h3 class="niko-sc__title">  Languages/Frameworks</h3>
		</div>

		<div>
			<i class="fab fa-python fa-2x colorify"></i>
		</div>

		<p>
			Python, Flask
		<p>

	</div>
	

</div> -->

<hr>

<div class="niko-sc niko-sc--experience">
	<div class="niko-sc__exp-educ-list">
		<div class="niko-sc__educ">
			<div class="niko-sc__experience-title-wrap niko-sc__title-wrap">
				<i class="fas fa-graduation-cap fa-2x colorify" style="margin-right: 10px;"></i>
				<h3 class="niko-sc__experience-title niko-sc__title">education</h3>
			</div>
			<div class="niko-sc__experience-list">
				
				{% for item in site.education %}
				<div class="niko-sc__experience-item">
					<div class="niko-sc__experience-period">
						<span class="niko-sc__experience-end">{{ item | map: "time" }} </span>
					</div>
					<h5 class="niko-sc__experience-name">{{ item | map: "name" }}</h5>
					<div class="niko-sc__experience-region">{{ item | map: "loc" }}</div>
					<div class="niko-sc__experience-description">
						{{ item | map: "desc" }}
					</div>
				</div>
				{% endfor %}
				

			</div>
		</div>
		<div class="niko-sc__exp">
			<div class="niko-sc__experience-title-wrap niko-sc__title-wrap">
				<i class="fas fa-briefcase fa-2x colorify" style="margin-right: 10px;"></i>
				<h3 class="niko-sc__experience-title niko-sc__title">experience</h3>
			</div>
			<div class="niko-sc__experience-list">


				{% for item in site.experience %}
				<div class="niko-sc__experience-item">
					<div class="niko-sc__experience-period">
						<span class="niko-sc__experience-end">{{ item | map: "time" }}</span>
					</div>
					<h5 class="niko-sc__experience-name">{{ item | map: "name" }}</h5>
					<div class="niko-sc__experience-region">{{ item | map: "loc" }}</div>
					<div class="niko-sc__experience-description">
						{{ item | map: "desc" }}
					</div>
				</div>
				{% endfor %}

		
				

			</div>
		</div>
	</div>
</div>

			<div class="niko-sc niko-sc--counter">
				<div class="niko-sc__title-wrap">
					<h3 class="niko-sc__title">principal facts</h3>
				</div>
				<div class="niko-sc__counter-list">
					
					{% for fact in site.facts %}
					<div class="niko-sc__counter-item">
						<span class="niko-sc__counter-number js-counter" data-from="0" data-to="{{ fact | map: 'count' }}" data-speed="5">
							0
						</span>
						<span class="niko-sc__counter-name">
							{{ fact | map: "desc" }}                       </span>

					</div>
					{% endfor %}
					
				</div>
			</div>

			

				</div>
			</div>
		</div>
	</div>
</div>
