---
layout: default
---

<div class="person">
	<div class="person__avatar">
		<img class="s-img-switch" src="{{ site.url }}{{ site.baseurl }}{{ site.profile }}" alt="prof_img">
	</div>

	<div class="person__info">
		<h2 class="person__name">{{ site.author }}</h2>
		<div class="person__position">
			<span><mark style="background-color:#00c483;">Developer</mark></span>
		</div>
		<div class="person__socials">
			<ul class="person__socials-list">

				{% if site.facebook_username %}
				<li>
					<a href="https://www.facebook.com/{{ site.facebook_username }}">
						<i class="fab fa-facebook-f fa-lg"></i>
					</a>
				</li>
				{% endif %}

				{% if site.linkedin_username %}
				<li>
					<a href="https://www.linkedin.com/{{ site.linkedin_username }}">
						<i class="fab fa-linkedin-in fa-lg"></i>
					</a>
				</li>
				{% endif %}

				{% if site.github_username %}
				<li>
					<a href="https://github.com/{{ site.github_username }}">
						<i class="fab fa-github fa-lg"></i>
					</a>
				</li>
				{% endif %}
				
				{% if site.email %}
				<li>
					<a target="_blank" href="mailto:{{ site.email | encode_email }}">
						<i class="far fa-envelope fa-lg"></i>
					</a>
				</li>
				{% endif %}

				<!-- {% if site.instagram_username %}
				<li>
					<a target="_blank" href="https://www.instagram.com/{{ site.instagram_username }}">
						<i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
				</li>
				{% endif %} -->

			</ul>
		</div>
	</div>

</div>
</div>
</div>

<div class="col-lg-6 p-0 site-content__inner-right">
	<div class="site-content__page">
		<div class="site-content__page-wrap">

			<header class="entry-header">
				<h1 class="entry-title">about me</h1>
			</header>

			<div class="niko-sc niko-sc--about">
				<div class="niko-sc__about-list">
					<div class="niko-sc__about-item">
						{{ site.age }} years </div>
					<div class="niko-sc__about-item">
						{{ site.location }} </div>
					<div class="niko-sc__about-item">
						Student </div>
				</div>
				<div class="niko-sc__about-description">
					Purdue University Computer engineering student with experience in full stack development and web design.
					Competent in digital design and systems design, with an interest in VSLI. Passionate about music and photography
					and living life to the full. Industry experience as software engineering intern in fast paced bay area startups.
					Thoughtfully analytical and well equipped to the problems of tomorrow. 
				</div>
			</div>

			<div class="niko-sc niko-sc--services">
				<div class="niko-sc__title-wrap">
					<h3 class="niko-sc__title">my services</h3>
				</div>
				<div class="niko-sc__services-list">

					<div class="niko-sc__services-item">
						<i class="fas fa-tv fa-2x" style="color:#00c483"></i>
						<h5 class="niko-sc__services-name">
							Software Development                     </h5>
						<div class="niko-sc__services_description">
							Engineering solutions that will work for you. Developer who understands the science
							behind the technology well adapted to give you a technological edge in an ever changing world.	
						</div>
					</div>

					<div class="niko-sc__services-item">
						<i class="fas fa-bolt fa-2x" style="color:#00c483"></i>
						<h5 class="niko-sc__services-name">
							Electrical Engineering                        </h5>
						<div class="niko-sc__services_description">
							Digital systems design, with an efficient understanding of asic design.
						</div>
					</div>

					
				</div>
			</div>

			
			<div class="niko-sc niko-sc--skills">
    <div class="niko-sc__title-wrap">
        <i class="fas fa-tachometer-alt fa-2x" style="color:#00c483;margin-right: 10px;"></i>
        <h3 class="niko-sc__title">  Skills</h3>
    </div>
    <div class="niko-sc__skills-list">
        <div class="niko-sc__skills-item" data-value="84">
            <span class="niko-sc__skills-name">
                        Software Development                    </span>
            <div class="niko-sc__skills-value">
                <span class="counter" data-from="0" data-speed="900" data-to="84">0</span>%
            </div>
            <div class="niko-sc__skills-line">
                <div class="active-line"></div>
            </div>
        </div>

        <div class="niko-sc__skills-item" data-value="60">
            <span class="niko-sc__skills-name">
                        Digital Design                    </span>
            <div class="niko-sc__skills-value">
                <span class="counter" data-from="0" data-speed="900" data-to="60">0</span>%
            </div>
            <div class="niko-sc__skills-line">
                <div class="active-line"></div>
            </div>
        </div>

        <div class="niko-sc__skills-item" data-value="50">
            <span class="niko-sc__skills-name">
                        Data Science                    </span>
            <div class="niko-sc__skills-value">
                <span class="counter" data-from="0" data-speed="900" data-to="50">0</span>%
            </div>
            <div class="niko-sc__skills-line">
                <div class="active-line"></div>
            </div>
        </div>

        <div class="niko-sc__skills-item" data-value="76">
            <span class="niko-sc__skills-name">
                        Web design                    </span>
            <div class="niko-sc__skills-value">
                <span class="counter" data-from="0" data-speed="900" data-to="76">0</span>%
            </div>
            <div class="niko-sc__skills-line">
                <div class="active-line"></div>
            </div>
        </div>
        
    </div>
</div>

<div class="niko-sc niko-sc--experience">
    <div class="niko-sc__exp-educ-list">
        <div class="niko-sc__educ">
            <div class="niko-sc__experience-title-wrap niko-sc__title-wrap">
                <i class="fas fa-graduation-cap fa-2x" style="color:#00c483;margin-right: 10px;"></i>
                <h3 class="niko-sc__experience-title niko-sc__title">education</h3>
            </div>
            <div class="niko-sc__experience-list">
                
                <div class="niko-sc__experience-item">
                    <div class="niko-sc__experience-period">
                        <span class="niko-sc__experience-start">2017</span>
                        <span class="niko-sc__experience-end">Present</span>
                    </div>
                    <h5 class="niko-sc__experience-name">Purdue University</h5>
                    <div class="niko-sc__experience-region">West Lafayette, IN</div>
                    <div class="niko-sc__experience-description">
                    	Bachelor of Science, Computer Engineering (B.S. Cmp.E.),
                    	IEEE Purdue (member),
                    	CRU (leader)
                    </div>
                </div>

                <div class="niko-sc__experience-item">
                    <div class="niko-sc__experience-period">
                        <span class="niko-sc__experience-start">2013</span>
                        <span class="niko-sc__experience-end">2017</span>
                    </div>
                    <h5 class="niko-sc__experience-name">Sacred Heart Prep</h5>
                    <div class="niko-sc__experience-region">Atherton, CA</div>
                    <div class="niko-sc__experience-description">
                    	Winner of computer science award
                    </div>
                </div>

            </div>
        </div>
        <div class="niko-sc__exp">
            <div class="niko-sc__experience-title-wrap niko-sc__title-wrap">
                <i class="fas fa-briefcase fa-2x" style="color:#00c483;margin-right: 10px;"></i>
                <h3 class="niko-sc__experience-title niko-sc__title">experience</h3>
            </div>
            <div class="niko-sc__experience-list">

                <div class="niko-sc__experience-item">
                    <div class="niko-sc__experience-period">
                        <!-- <span class="niko-sc__experience-start">2019</span> -->
                        <span class="niko-sc__experience-end">2019</span>
                    </div>
                    <h5 class="niko-sc__experience-name">Heroes jobs</h5>
                    <div class="niko-sc__experience-region">San Francisco, CA</div>
                    <div class="niko-sc__experience-description">
                    	Computer science intern, creating data mining and growth hacking scripts
                    </div>
                </div>

                <div class="niko-sc__experience-item">
                    <div class="niko-sc__experience-period">
                        <span class="niko-sc__experience-start">2016</span>
                        <span class="niko-sc__experience-end">2018</span>
                    </div>
                    <h5 class="niko-sc__experience-name">Learningtech.org</h5>
                    <div class="niko-sc__experience-region">San Carlos, CA</div>
                    <div class="niko-sc__experience-description">
                    	Created curriculum to teach students programming. Optimized liquid handling robot
                    	with PID tuning. Debugged and repaired numerous 3D printers
                    </div>
                </div>

                <div class="niko-sc__experience-item">
                    <div class="niko-sc__experience-period">
                        <!-- <span class="niko-sc__experience-start">2013</span> -->
                        <span class="niko-sc__experience-end">2016</span>
                    </div>
                    <h5 class="niko-sc__experience-name">Stanford COSYNE Lab</h5>
                    <div class="niko-sc__experience-region">Palo Alto, CA</div>
                    <div class="niko-sc__experience-description">
                    	Assisted ongoing postdoctoral research as intern.
                    	Implemented scoring algorithm and optimized UI for screener game designed to help children
                    	with dyscalculia. 
                    </div>
                </div>
                

            </div>
        </div>
    </div>
</div>

			<div class="niko-sc niko-sc--counter">
				<div class="niko-sc__title-wrap">
					<h3 class="niko-sc__title">principal facts</h3>
				</div>
				<div class="niko-sc__counter-list">
					<div class="niko-sc__counter-item">
						<span class="niko-sc__counter-number js-counter" data-from="0" data-to="26" data-speed="10">
							0
						</span>
						<span class="niko-sc__counter-name">
							successul projects                      </span>

					</div>

					<div class="niko-sc__counter-item">
						<span class="niko-sc__counter-number js-counter" data-from="0" data-to="3" data-speed="10">
							0
						</span>
						<span class="niko-sc__counter-name">
							Internships                       </span>

					</div>
					
				</div>
			</div>

			

				</div>
			</div>
		</div>
	</div>
</div>
